# Lecture: Complex Network Analysis

Prof. Dr. Michael Gertz

Winter Semester 2021/22

## Assignment 1 - Graph Properties and Random Graphs

Students: Felix Hausberger, Nils Krehl, Patrick GuÌˆnther

In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

## 1.

In [7]:
american_football = pd.read_csv("data/american_football/american_football.tsv", sep='\t')
bitcoin_alpha = pd.read_csv("data/bitcoin_alpha/bitcoin_alpha.csv")

In [8]:
american_football.head()

   source  target
0       1       2
1       1       3
2       1       4
3       1       5
4       1       6

In [9]:
bitcoin_alpha.head()

   source  target  rating        time
0    7188       1      10  1407470400
1     430       1      10  1376539200
2    3134       1      10  1369713600
3    3026       1      10  1350014400
4    3010       1      10  1347854400